* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.header .logo {
    font-size: 1.7em;
    color:white;
    text-decoration: none;
}

.nav a {
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    margin-left: 40px;
}

.nav a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .5s;
}

.nav a:hover::after {
    transform: scaleX(1);
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    background: #27282c;
    background-size: cover;
    background-position: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 80px 100px 0;
}

.home .content {
    max-width: 600px;
    color: rgb(255, 255, 255);
    margin-top: -25%;
}

.content p {
    margin: 10px 0 40px;
}

.content h2 {
    font-size: 3em;
    letter-spacing: .03em;
}

.content a {
    color: white;
    text-decoration: none;
    border: 2px solid white;
    font-weight: 500;
    padding: 10px;
    border-radius: 40px;
    transition: .5s;
}

.content a:hover {
    background-color: cornsilk;
}

.wrapper-login {
    position: relative;
    width: 440px;
    z-index: 2;
}

.wrapper-login h2 {
    font-size: 2em;
    color: white;
    text-align: center;
}

.wrapper-login .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 40px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 1px solid white;
    outline: none;
    border-radius: 40px;
    font-size: 1em;
    color: white;
    padding: 0 5px 0 45px;
    position: relative;
    z-index: 1;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 45px;
    transform: translateY(-50%);
    font-size: 1em;
    color: white;
    pointer-events: none;
    transition: .5s;
    z-index: 2;
}

.input-box input:focus~label,
.input-box input:valid~label {
    font-size: .8em;
    top: -14px;
    left: 17px;
}

.input-box .icon {
    position: absolute;
    top: 11px;
    left: 15px;
    font-size: 1.2em;
    color: white;
}

.wrapper-login .btn {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    border-radius: 40px;
    background: linear-gradient(90deg, rgb(40, 40, 114), rgb(47, 47, 238));
    box-shadow: 0 8px 10px rgba(0, 0, 0, .5);
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 500;
}

.login-container {
    position: relative;
}

.homemedico {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


