<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
         version="5.0">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>com.farmacia.farmacia.Login</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Servexips</servlet-name>
        <servlet-class>com.farmacia.farmacia.ServeXips</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servexips</servlet-name>
        <url-pattern>/Servexips</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servepatients</servlet-name>
        <servlet-class>com.farmacia.farmacia.Servepatients</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servepatients</servlet-name>
        <url-pattern>/Servepatients</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Servemedicines</servlet-name>
        <servlet-class>com.farmacia.farmacia.Servemedicines</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servemedicines</servlet-name>
        <url-pattern>/Servemedicines</url-pattern>
    </servlet-mapping>

</web-app>